@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.app {
    background-image: url('../images/network.jpeg');
    display: flex;
    min-height: 100vh;
}

header {
    padding: 1em 0;
    z-index: 10;
}

.app a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.sidebar {
    flex: 1 1 0;
    max-width: 200px;
    padding: 2rem 1rem;
    background-color: #0ba1f274;
    transition: 0.2s linear;
    z-index: 10;
}

.sidebar h3 {
    color: lightgray;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.sidebar > .menu {
    margin: 0 -1rem;
}

.sidebar > .menu > .menu-item {
    display: block;
    padding: 1em;
    color: white;
    text-decoration: none;
    transition: 0.2s linear;
}

.sidebar > .menu > .menu-item:hover,
.sidebar > .menu > .menu-item.is-active {
    border-right: 5px solid white;
}

.content {
    flex: 1 1 0;
    padding: 2rem;
}

.container{
    width: 100%;
    margin-top: 70px;
    overflow:hidden;
}

.gridContainer{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.gridItem {
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Montserrat';
    color:  white; 
    padding: 20px 0;
}

  .gridItem img {
    width: 45%;
    height: auto;
    opacity: 80%;
  }

  .bottomRow{
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Montserrat';
    color: white; 
    padding: 20px 0;
    position:relative; left:150px;
  }

  .bottomRow img{
    width: 45%;
    height: auto;
    opacity: 80%;
  }



.sidebar-toggle {
    display: none;
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: #087FCF;
    cursor: pointer;
}

.hamburger {
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 99px;
    background-color: white;
    transition-duration: .25s;
}

.hamburger > span::before {
    content: ' ';
    top: -8px;
}

.hamburger > span::after {
    content: ' ';
    top: 8px;
}

/* Animations for sidebar toggle */
.sidebar-toggle.is-active .hamburger > span {
    transform: rotate(45deg);
}

.sidebar-toggle.is-active .hamburger > span::before {
    top: 0;
    transform: rotate(0deg);
}

.sidebar-toggle.is-active .hamburger > span::after {
    top: 0;
    transform: rotate(90deg);
}

.hide {
    display: none;
}

/* Reative changes */
@media (max-width: 1024px) {
    .sidebar {
        max-width: 120px;
    }
}

@media (max-width: 768px) {
    .content {
        text-align: center;
    }
    .sidebar-toggle {
        display: block;
    }

    .content {
        padding-top: 8rem;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: -300px;
        height: 100vh;
        width: 100%;
        max-width: 200px;
        transition: 0.2s linear;
    }

    .sidebar.is-active {
        left: 0;
    }
}