@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    min-height: 100%;
}

.app {
    width: 100%;
    background-image: url('../images/network.jpeg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 1em;
}

#network {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
}

footer {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20em;
    background-color: #087FCF;
    height: 80px;
    width: 80px;
    border-radius: 99px;
}

#githubImage{
    position: relative;
    top: 10px;
    width: 60px;
    height: 60px;
}

.form-container {
    width: 380px;
    position: relative;
    background-color: #fff;
    margin: 6% auto;
    padding: 5px;
    border-radius: 30px;
    overflow: hidden;
    transition: .5s;
    text-align: center;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 20px 10px #2e2e2e1f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #087FCF, #3fadd1);
    border-radius: 30px;
    transition: .5s;
}

.input-group {
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s
}

label {
    color: #087FCF;
    display: block;
    margin-top: 1em;
    font-size: 1.2em;
    text-align: left;
}

input[type = text] {
    border: 1px solid gray;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 1em;
    margin-top: .5em;
    margin-bottom: 1.2em;
}

input[type = password] {
    border: 1px solid gray;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 1em;
    margin-top: .5em;
    margin-bottom: 1.2em;
}


input[type = button] {
    background: linear-gradient(to right, #087FCF, #3fadd1);
    border: none;
    width: 70%;
    color: white;
    font-weight: bold;
    margin-top: 1.2em;
    padding: 1em 0;
    border-radius: 50px;
    font-size: 1.3em;
    cursor: pointer;
}

#signUpResult {
    position: relative;
    top: 20px;
}

#toggle-login {
    color: white;
}

#toggle-register {
    color: black;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

#form-container {
    height: 520px;
}

@media (min-width: 930px) {
    header {
        text-align: left;
    }

    #network {
        margin-left: 1.2em;
    }
}